section.educacao {
	position: relative;
	transform: translateY(-50%);
    top: 50%;
	margin-top: 7%;
    padding: 12% 0;
}

section.educacao h2 {
	color: #303a40;
	font-size: 46px;
}

section.educacao h2 > span,
section.educacao h3 > span {
	color: darkcyan;
}

section.educacao h3 {
	color: #6c757d;
	font-size: 26px;
}

section.educacao p {
	color: #303a40;
	font-size: 20px;
}

@media (max-width:880px) {
	section.educacao {
		margin-top: -200%;
		padding-top: 50%;
		transform: translateY(0);
	}
}